html
{
	background-color: rgb(240, 240, 240);
	font-family: 'Roboto', sans-serif;
}

header
{
	padding: 1em;
	clear: left;
	background-color: rgb(63, 174, 41);
}

h1, form
{
	text-align: center;
}

h1
{
	font-size: 200%;
}

label
{
	font-size: 150%;
	cursor: text;
}

textarea, input
{
	font-family: 'Roboto', sans-serif;
	color: rgb(30, 30, 30);
	border-style: solid;
	border-radius: 5px;
	border-width: 1px;
	font-size: 125%;
}

.submit 
{
    background-color: rgb(63, 174, 41);
    color: white;
    padding: 8px 16px;
    text-align: center;
    display: inline-block;
    font-size: 18px;
    margin: 4px 2px;
    cursor: pointer;
}

.submit:hover
{
	background-color: rgb(23, 134, 1);
}